.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 8px 0 12px 0;

  background-color: #ffffff;
  border-top: 1px solid #f0f0f0;

  z-index: 100;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  padding: 8px 12px;
  min-width: 60px;  

  color: #999999;

  cursor: pointer;
}

.nav-icon {
  position: relative;
  
  width: 24px;
  height: 24px;
  margin-bottom: 2px;
}

.nav-icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-icon.home::before {
  background-image: url(../assets/icon/icon-home.svg);
}
.nav-icon.message::before {
  background-image: url(../assets/icon/icon-message-circle.svg);
}
.nav-icon.edit::before {
  background-image: url(../assets/icon/icon-edit.svg);
}
.nav-icon.user::before {
  background-image: url(../assets/icon/icon-user.svg);
}

.nav-label {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}