.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 16px 26px;
  width: 100%;
  box-sizing: border-box;
}

.profileInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.followers,
.followings {
  text-align: center;
  color: #767676;
  font-size: 10px;
}

.count {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 6px;
  display: block;
}

.followings .count {
  font-size: 18px;
  font-weight: bold;
  color: #767676;
}

.profileImageWrapper {
  width: 110px;
  height: 110px;
}

.profileImageWrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profileName {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

.profileId {
  font-size: 12px;
  color: #767676;
  margin-bottom: 16px;
}

.profileIntro {
  font-size: 14px;
  color: #767676;
}
